@import "tailwindcss";

@theme {
    --color-lightHover: #fcf4ff;
    --color-darkHover: #2a004a;
    --color-darkTheme: #11001f;

    --font-Outfit: "Outfit", sans-serif;
    --font-Ovo: "Ovo", serif;

    --shadow-black: 4px 4px 0 #000;
}


*{
  font-family: var(--font-Outfit);
  scroll-behavior: smooth;
}